fastapi==0.111.0
uvicorn==0.30.1
pydantic>=2.9.0
pydantic-settings>=2.5.0

python-dotenv==1.0.1
requests==2.32.3
email-validator==2.1.1
pytest==8.2.2

snowflake-connector-python>=3.10.0

black==24.4.2
ruff==0.4.9

